nav {
    background-color:chocolate;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 16px;
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
}

.container {
    margin: 8px 32px;
}

#my-title {
    color:rgb(126, 189, 135);
} 